
/*reset*/

html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
/*------------------------------------------------------------------------------------------------------------------------------*/

html { width: 100%; height: 100%; }
body { margin:0 auto; width:100%; background:#fff;height: 100%; overflow: hidden; }

/*index*/

* {
    /*-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
    /*webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
}
.container {
    position:relative;
    height: 100%;
    overflow: hidden;
    background: #000;
    /*z-index: 10000;*/
    /*-webkit-transform: translate3d(0px, 0px, 0px);*/
    /*transform: translate3d(0px, 0px, 0px);*/
}

.m-img { width:100%; height:100%; }

.sw-left-sidebar {
    background: #a00;

}
.slide-list {
    height: 100%;
    position: relative;
}

.sw-slide {
    position: relative;
    overflow: hidden;
}

.swiper-container {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}



.menu-list {
    height: 100%;
    position: relative;
    background: url("../img/menu_bg.jpg") no-repeat;
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;

    position: relative;
    z-index: 10000;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.sw-slide {
    position: relative;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    width: 100%;
    height: 100%;
}

.slide-list {
    overflow: hidden;
}

.show-elem {
    margin: 10px;
    display: inline-block;
}

/* top pagination*/

#stipes_button {
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.3) url('../img/stripes_menu.png') 10px 10px no-repeat;
    border-radius: 10px;
    /*float: left;*/
    position: absolute;
    left: 0;
    z-index: 10000;
    margin: 10px;
    padding: 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

#drops_button {
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.3) url('../img/drops_menu.png') 10px 10px no-repeat;
    border-radius: 10px;
    /*float: right;*/
    position: absolute;
    right: 0;
    z-index: 10000;
    margin: 10px;
    padding: 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.sw-wrapper {
    position: relative;
    overflow: hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nav-slide {
    float: left;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}

@media screen and (min-width: 750px) {

    .menu-list {
        background: url("../img/menu_bg_2x.jpg") no-repeat;
    }

}























.p-index {  position:relative; height: 100%; width: 100%;  overflow: hidden; }
.container {  position:relative; height: 100%; overflow: hidden; }

/* m-*/
/*.m-page { position:absolute; left:0; top:0%; height:100%; width:100%; background:#fff; }*/
/*.m-page.show { z-index:10; display:block; }*/
/*.m-page.hide { z-index:5; display:none; }*/
/*.m-page.active { z-index:15; display:block; }*/


.m-img { width:100%; height:100%; }

.slide-list {
    height: 100%;
    position: relative;
    background: #a00;
}

.menu-list {
    height: 100%;
    position: relative;
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    width: 100%;
    height: 100%;
}

.slide-list {
    overflow: hidden;
}

.show-elem {
    margin: 10px;
    float: left;
}

.sw-wrapper, .wrapper {
    height: 100%;
}

.sw-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.text-title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    font-size: 28px;
}

.unique, .smallTxt-arrow, .text-detail, .text-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.text-detail {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.screen-music-security {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 2;
}

.screen-music-security div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 400%;
    -webkit-transform: translate3d(0px, 0px, 2px);
    transform: translate3d(0px, 0px, 2px);

}

.screen-music-security .silence-button {
    text-decoration: underline;
    -webkit-transform: translate3d(0px, 0px, 2px);
    transform: translate3d(0px, 0px, 2px);

}

.icon-music {
    width: 54px;
    height: 54px;
    background: url(../img/units-icons.png);
    display: block;
}

.icon-music div {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.icon-music.play-music {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

.audio-button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    left: 50%;
    margin-left: 248px;
    bottom: 28px;
    display: block;
}


@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(-360deg)
    }
}

.audio-button span {
    position: absolute;
    right: 70px;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    -webkit-transition: all .2s linear;
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
}

.audio-button span.audio-show {
    opacity: 1;
    /*-webkit-transform: translate3d(0px, 0px, 2px);*/
    /*transform: translate3d(0px, 0px, 2px);*/
}

.link-for-magazine {
    position: absolute;
    bottom: 130px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 15px;
    z-index: 10;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0px, 0px, 0px) ;
    -moz-transform: translate3d(0px, 0px, 0px) ;
    -ms-transform: translate3d(0px, 0px, 0px) ;
    -o-transform: translate3d(0px, 0px, 0px) ;
    transform: translate3d(0px, 0px, 0px) ;
}

.link-for-magazine a {
    color: #ffffff;
    font-size: 300%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0px, 0px, 0px) ;
    -moz-transform: translate3d(0px, 0px, 0px) ;
    -ms-transform: translate3d(0px, 0px, 0px) ;
    -o-transform: translate3d(0px, 0px, 0px) ;
    transform: translate3d(0px, 0px, 0px) ;
}


.unique {
    background: rgba(255,255,255,0.7);
    /*padding: 25px;*/
}

.slide-list {
    height: 94%;
    position: relative;
    background: #a00;
}

.menu-list {
    height: 100%;
    position: relative;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.slide-list {
    /*overflow: hidden;*/
}

.show-elem {
    margin: 10px;
    float: left;
}

.sw-wrapper, .wrapper {
    height: 100%;
}

.text-title {
    /*position: absolute;*/
    left: 0;
    /*width: 100%;*/
    padding: 25px 0;
    overflow: hidden;
    font-size: 28px;
}

.txt-arrow {
    background: url(../img/css_sprite01.png) no-repeat 0 -46px;
    /*background-repeat: ;*/
    position: absolute;
    top: 50%;
    margin-top: -17px;
    display: inline-block;
    width: 34px;
    height: 34px;
    /*background-position: */
}
.text-title p {
    position: absolute;
    /*height: 100%;*/
    /*margin: 0 25px;*/
    line-height: 130%;
    overflow: hidden;
}

.text-title p.left {
    padding: 0 70px 0 25px;
}

.text-title p.right {
    padding: 0 25px 0 70px;
}

.unique, .smallTxt-arrow, .text-detail, .text-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.text-detail {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.text-detail p {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 150%;
    padding: 25px;
    overflow: hidden;
}

.smallTxt-arrow.z-toggle {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

.smallTxt-arrow {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.touch-area {
    position: absolute;
    margin: -50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
}

.unique {
    position: absolute;
    z-index: 50;
    overflow: hidden;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 24px;
    opacity: 0;
}

.sw-slide .unique.left {
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

.sw-slide .unique.right {
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.m-img {
    opacity: 1;
}
.sw-slide, .text-title, .unique {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.slide-active-animation .unique{
    opacity: 1;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    -o-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}

.new-video, .new-video video, .m-img {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0px, 0px, 0px) ;
    -moz-transform: translate3d(0px, 0px, 0px) ;
    -ms-transform: translate3d(0px, 0px, 0px) ;
    -o-transform: translate3d(0px, 0px, 0px) ;
    transform: translate3d(0px, 0px, 0px) ;
}

.arrow {
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: 10;
    width: 80px;
    height: 80px;
    margin-left: -40px;
}
.arrow div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -14px 0 0 -25px;
    width: 50px;
    height: 28px;
    background-position: 0 -82px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}


@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0)
    }
}

@-moz-keyframes start {
    0%, 30% {
        opacity: 0;
        -moz-transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0, -8px, 0)
    }
}

@keyframes start {
    0%, 30% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -8px, 0)
    }
}

.page-number-counter {
    position: relative;
    width: 100%;
    height: 25px;
    top: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1000;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-weight: bold;
}


.page-content {
    position: absolute;
    top: 0;
    overflow: hidden;
    -webkit-box-flex: 100;
    width: 100%;
}

.m-cascadingTeletext {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

.m-cascadingTeletext li {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.m-cascadingTeletext * {
    overflow: hidden!important;
}

.m-cascadingTeletext li img {
    width: 480px;
    border-radius: 2px;
    box-shadow: 0 0 13px 0 #B8B8B8;
    -webkit-transition: all .8s ease-out;
    -webkit-transform: rotateZ(30deg) scale(3) translate3d(80%,80%,0);
    position: absolute;
    left: 50%;
    top: 30px;
    right: 0;
    bottom: 30px;
    margin-left: -240px;
}

.m-cascadingTeletext li:nth-child(1) {
    display: block;
    z-index: 3;
}

.m-cascadingTeletext li:nth-child(2) {
    display: block;
    z-index: 2;
}
.m-cascadingTeletext li:nth-child(3) {
    display: block;
    z-index: 1;
}


.sw-slide-active .m-cascadingTeletext li:nth-child(1) img {
    -webkit-transform: rotateZ(0deg) scale(1) translate3d(0%,0,0);
    -webkit-transition-delay: 1s;
}
.sw-slide-active .m-cascadingTeletext li:nth-child(2) img {
    -webkit-transform: rotateZ(1.6deg) scale(1) translate3d(0%,0,0);
    -webkit-transition-delay: .5s;
}
.sw-slide-active .m-cascadingTeletext li:nth-child(3) img {
    -webkit-transform: rotateZ(3.2deg) scale(1) translate3d(0%,0,0);
    -webkit-transition-delay: 0s;
}

.u-guideNext, .u-guidePrev {
    text-decoration: none;
    position: absolute;
    top: 40%;
    z-index: 50;
    background: url(../img/units-icons.png) -116px 0;
    display: block;
    width: 46px;
    height: 56px;
    /*text-indent: 9999px;*/
}

.u-guideNext div, .u-guidePrev div {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin: -40px;

}

.u-guidePrev {
    left: 18px;
}
.u-guideNext {
    right: 18px;
    -webkit-transform: rotateZ(180deg);
}

.sw-slide-active .u-guideNext {
    -webkit-animation: guideNext 3.5s infinite;
}
.sw-slide-active .u-guidePrev {
    -webkit-animation: guidePrev 3.5s infinite;
}

.u-guideNext,
.u-guidePrev {
    -webkit-transition: all .6s;
    -webkit-transition-delay: 2.2s;
    opacity: 0;
}

.sw-slide-active .u-guideNext,
.sw-slide-active .u-guidePrev {
    opacity: 1;
}

.m-cascadingTeletext li .imgText {
    -webkit-transform: translate3d(0,0,0);
}

.m-cascadingTeletext li.z-hideToLeft img {
    -webkit-animation: cascadingTeletext_hideToLeft 0.5s linear
}

.m-cascadingTeletext li.z-hideToLeft .imgText, .m-cascadingTeletext li.z-hideToRight .imgText {
    -webkit-transform: translate3d(0,100%,0);
}

@-webkit-keyframes cascadingTeletext_hideToLeft {
    0% {
        -webkit-transform: translate3d(0,0,0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(-100%,0,0);
        opacity: 0
    }
}

.m-cascadingTeletext li.z-hideToRight img {
    -webkit-animation: cascadingTeletext_hideToRight 0.5s linear
}

@-webkit-keyframes cascadingTeletext_hideToRight {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes guidePrev {
    0%, 20% {
        -webkit-transform: translateX(0px)
    }
    35% {
        -webkit-transform: translateX(12px)
    }
    50% {
        -webkit-transform: translateX(-20px)
    }
    65% {
        -webkit-transform: translateX(0px)
    }
    80% {
        -webkit-transform: translateX(-12px)
    }
    100% {
        -webkit-transform: translateX(0px)
    }
}

@-webkit-keyframes guideNext {
    0%, 20% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }
    35% {
        -webkit-transform: translateX(-12px) rotateZ(180deg)
    }
    50% {
        -webkit-transform: translateX(20px) rotateZ(180deg)
    }
    65% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }
    80% {
        -webkit-transform: translateX(12px) rotateZ(180deg)
    }
    100% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }
}



.progress-line {
    position: fixed;
    width: 100%;
    height: 2px;
    top: 0;
    background: rgba(0,255,0,0.7);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}



.m-link {
    -webkit-animation: flipinX 1s ease-out backwards;
    display: none;
}

.sw-slide-active .m-link {
    display: block;
}

.m-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 172px;
    text-align: center;
}

.m-link .imgLink {
    text-decoration: none;
    text-align: center;
}
a:active, a:hover {
    outline: 0;
}


@-webkit-keyframes flipinX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0);
        opacity: 1
    }
}

.m-weixinShareLayer {
    text-align: center;
}

.u-maskLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 1;
    -webkit-transition: all .5s;
    z-index: 9999;
}


.u-maskLayer-close {
    width: 150px;
    height: 100px;
    background: rgba(255,0,0,.6);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 100px;
    right: -80px;
    -webkit-transition: all .6s;
    -webkit-transform: translate3d(100%,0%,0);
}

.u-maskLayer .u-maskLayer-close::before {
    -webkit-transform: rotateZ(-45deg);
}

.u-maskLayer-close::after, .u-maskLayer-close::before {
    width: 42px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: 46px;
    left: 15px;
    -webkit-transform: rotateZ(45deg);
}

.u-maskLayer .u-maskLayer-close::after {
    -webkit-transform: rotateZ(45deg);
}

.u-maskLayer.show .u-maskLayer-close {
    -webkit-transform: translate3d(0%,0,0);
}
a:active, a:hover {
    outline: 0;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}

.imgbox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.imgbox img {
    position: absolute;
    width: 99%;
    height: auto;
    vertical-align: middle;
    text-align: center;
    top: 25%;
}
