.arrow {
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: 10;
    width: 80px;
    height: 80px;
    margin-left: -40px;
}
.arrow div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -14px 0 0 -25px;
    width: 50px;
    height: 28px;
    background-position: 0 -82px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}


@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0)
    }
}

@-moz-keyframes start {
    0%, 30% {
        opacity: 0;
        -moz-transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0, -8px, 0)
    }
}

@keyframes start {
    0%, 30% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -8px, 0)
    }
}