
.m-link {
    -webkit-animation: flipinX 1s ease-out backwards;
    display: none;
}

.sw-slide-active .m-link {
    display: block;
}

.m-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 172px;
    text-align: center;
}

.m-link .imgLink {
    text-decoration: none;
    text-align: center;
}
a:active, a:hover {
    outline: 0;
}


@-webkit-keyframes flipinX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0);
        opacity: 1
    }
}

.m-weixinShareLayer {
    text-align: center;
}

.u-maskLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 1;
    -webkit-transition: all .5s;
    z-index: 9999;
}


.u-maskLayer-close {
    width: 150px;
    height: 100px;
    background: rgba(255,0,0,.6);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 100px;
    right: -80px;
    -webkit-transition: all .6s;
    -webkit-transform: translate3d(100%,0%,0);
}

.u-maskLayer .u-maskLayer-close::before {
    -webkit-transform: rotateZ(-45deg);
}

.u-maskLayer-close::after, .u-maskLayer-close::before {
    width: 42px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: 46px;
    left: 15px;
    -webkit-transform: rotateZ(45deg);
}

.u-maskLayer .u-maskLayer-close::after {
    -webkit-transform: rotateZ(45deg);
}

.u-maskLayer.show .u-maskLayer-close {
    -webkit-transform: translate3d(0%,0,0);
}
a:active, a:hover {
    outline: 0;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
