
/*reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/

html { width: 100%; height: 100%; }
body { margin:0 auto; width:100%; background:#fff;height: 100%; overflow: hidden; }

/*index*/
.container {  position:relative; height: 100%; overflow: hidden; background: #000}

.swiper-container {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.swiper-container, .nav-slide {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.m-img { width:100%; height:100%; }

.sw-left-sidebar {
    background: #a00;

}
.slide-list {
    height: 100%;
    position: relative;
}

.menu-list {
    height: 100%;
    position: relative;
    background: url("../img/menu_bg.jpg") no-repeat;
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    float: left;
}

.slide-list {
    overflow: hidden;
}

.show-elem {
    margin: 10px;
    /*float: left;*/
    display: inline-block;
}

/* top pagination*/

#stipes_button {
    width: 30px;
    height: 30px;
    background: url('../img/stripes_menu.png') 10px 10px no-repeat;
    float: left;
    position: relative;
    z-index: 1000;
    margin: 10px;
    padding: 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

#drops_button {
    width: 30px;
    height: 30px;
    background: url('../img/drops_menu.png') 10px 10px no-repeat;
    float: right;
    position: relative;
    z-index: 1000;
    margin: 10px;
    padding: 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.sw-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nav-slide {
    float: left;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}

@media screen and (min-width: 750px) {

    .menu-list {
        background: url("../img/menu_bg_2x.jpg") no-repeat;
    }

}