.progress-line {
    position: relative;
    /*position: fixed;*/
    width: 100%;
    height: 25px;
    /*margin-bottom: 20px;*/
    top: 0;
    /*background: rgba(0,255,0,0.7);*/
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1000;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-weight: bold;
}