@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, .tile.text time, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

* {
    background-repeat: no-repeat;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font: 14px/1.5 "Galaxie";
    background: #fff;
    -webkit-font-smoothing: antialiased
}

@media (min-width: 0) and (max-width: 656px) {
    body {
        font-size: 18px
    }
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: #ec008c
}

html {
    position: static;
    width: 100%;
    height: 100%
}

body {
    min-width: 640px
}

body > nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font: 60px "Galaxie";
    color: #fff;
    padding-top: 0px;
    background: none;
    z-index: 1000;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1)
}

body > nav .bar {
    z-index: 2000;
    margin-top: 0px;
    width: 100%;
    /*height: 100px;*/
    background: none;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1)
}

body > nav .nav-background {
    z-index: 1500;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
    display: table;
    -webkit-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1)
}

body > nav #logo {
    width: 144px;
    height: 74px;
    padding: 58px 40px;
    z-index: 1000;
    background-image: url("/content/images/util/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1)
}

body > nav #toggle {
    width: 104px;
    height: 74px;
    padding: 45px 40px;
    z-index: 1000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1)
}

body > nav #toggle .patty {
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: #ec008c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

body > nav #toggle .patty:after, body > nav #toggle .patty:before {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: #ec008c;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

body > nav #toggle .patty:before {
    top: -8px
}

body > nav #toggle .patty:after {
    top: 8px
}

body > nav #toggle:hover {
    -webkit-transition: top 0.4s;
    -moz-transition: top 0.4s;
    -o-transition: top 0.4s;
    transition: top 0.4s
}

body > nav #toggle:hover .patty:before {
    top: -9px
}

body > nav #toggle:hover .patty:after {
    top: 9px
}

body > nav ul {
    visibility: hidden;
    top: -10%;
    width: 100%;
    padding: 0;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: perspective(600px) rotateX(10deg);
    -moz-transform: perspective(600px) rotateX(10deg);
    -ms-transform: perspective(600px) rotateX(10deg);
    -o-transform: perspective(600px) rotateX(10deg);
    transform: perspective(600px) rotateX(10deg);
    -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63)
}

body > nav li {
    list-style: none;
    text-align: center
}

body > nav li a {
    padding: 8px 0 0;
    width: 100%;
    display: block;
    letter-spacing: -0.06em
}

body > nav li a:hover {
    background: #fff
}

body > nav li a:focus {
    outline: 0
}

body > nav.open {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    height: 100%
}

body > nav.open .bar {
    margin-top: 0px;
    background: none
}

body > nav.open #logo {
    background-image: url("/content/images/util/logo_white.png") !important
}

body > nav.open .patty {
    background: none !important
}

body > nav.open .patty:after {
    top: 0 !important;
    background: #fff !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

body > nav.open .patty:before {
    top: 0 !important;
    background: #fff !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

body > nav.open .nav-background {
    background-color: #ec008c !important;
    background-color: rgba(217, 40, 130, 0.9) !important
}

body > nav.open ul {
    top: 0;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg)
}

body > nav.closing {
    height: 100%
}

body > nav.closing ul {
    top: 10%;
    visibility: visible;
    opacity: 0;
    -webkit-transform: perspective(600px) rotateX(-10deg);
    -moz-transform: perspective(600px) rotateX(-10deg);
    -ms-transform: perspective(600px) rotateX(-10deg);
    -o-transform: perspective(600px) rotateX(-10deg);
    transform: perspective(600px) rotateX(-10deg);
    -webkit-transition: all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
    -moz-transition: all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
    -o-transition: all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1)
}

body > nav.hide-it {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    margin-top: -80px
}
