.unique {
    background: rgba(255,255,255,0.7);
    /*padding: 25px;*/
}

/*.slide-list {
    height: 94%;
    position: relative;
    background: #a00;
}*/

.menu-list {
    height: 100%;
    position: relative;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}


.sw-wrapper, .wrapper {
    height: 100%;
}

.text-title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    font-size: 3em;
}

.txt-arrow {
    background: url(../img/css_sprite01.png) no-repeat 0 -46px;
    /*background-repeat: ;*/
    position: absolute;
    top: 50%;
    margin-top: -17px;
    display: inline-block;
    width: 34px;
    height: 34px;
    /*background-position: */
}
.text-title p {
    position: absolute;
    /*height: 100%;*/
    /*margin: 0 25px;*/
    line-height: 130%;
}

.text-title p.left {
    padding: 0 70px 0 25px;
}

.text-title p.right {
    padding: 0 25px 0 70px;
}

.unique, .smallTxt-arrow, .text-detail, .text-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.text-detail {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2em;
}

.text-detail p {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 150%;
    padding: 25px;
    padding-bottom: 0;
    /*overflow-y: scroll;*/
}

.smallTxt-arrow.z-toggle {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

.smallTxt-arrow {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.touch-area {
    position: absolute;
    margin: -50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
}

.unique {
    position: absolute;
    z-index: 50;
    overflow: hidden;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    /*font-size: 24px;*/
    opacity: 0;
    /*-webkit-transform: translate3d(0,0,0);*/
    /*-moz-transform: translate3d(0,0,0);*/
    /*-ms-transform: translate3d(0,0,0);*/
    /*-o-transform: translate3d(0,0,0);*/
    /*transform: translate3d(0,0,0);*/
    /*-webkit-transform-style: preserve-3d;*/
    /*-moz-transform-style: preserve-3d;*/
    /*-ms-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
}

.sw-slide .unique.left {
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

.sw-slide .unique.right {
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.m-img {
    opacity: 1;
}
.sw-slide, .text-title, .unique {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.slide-active-animation .unique {
    opacity: 1;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    -o-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}
