.screen-music-security {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 2;
}

.screen-music-security div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 300%;
    -webkit-transform: translate3d(0px, 0px, 2px);
    -moz-transform: translate3d(0px, 0px, 2px);
    -ms-transform: translate3d(0px, 0px, 2px);
    transform: translate3d(0px, 0px, 2px);

}

.screen-music-security .silence-button {
    text-decoration: underline;
    -webkit-transform: translate3d(0px, 0px, 2px);
    -moz-transform: translate3d(0px, 0px, 2px);
    -ms-transform: translate3d(0px, 0px, 2px);
    transform: translate3d(0px, 0px, 2px);

}

.icon-music {
    width: 54px;
    height: 54px;
    background: url(../img/units-icons.png);
    display: block;
}

.icon-music div {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.icon-music.play-music {

    -ms-animation: reverseRotataZ 1.2s linear infinite;
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
    -moz-animation: reverseRotataZ 1.2s linear infinite;
    animation: reverseRotataZ 1.2s linear infinite;
}

.audio-button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    /*left: 50%;*/
    margin-left: 248px;
    bottom: 28px;
    display: block;
}

@-ms-keyframes reverseRotataZ {
    0% {
        -ms-transform: rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateZ(-360deg);
    }
}
@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}
@-moz-keyframes reverseRotataZ {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(-360deg);
    }
}

@keyframes reverseRotataZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

.audio-button span {
    position: absolute;
    right: 70px;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    -moz-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

.audio-button span.audio-show {
    opacity: 1;
}