
body { margin:0; width:100%; background:#fff; padding: 0; position: relative}
/**
 *  css sprite
 */

h2 {
    margin: 0;
    padding: 0;
}

/*index*/
.p-index {  position:relative; height: 100%; width: 640px; overflow: hidden; }
.container {  position:relative; height: 100%; overflow: hidden; }

/* m-*/
.m-page { position:absolute; left:0; top:0%; height:100%; width:100%; background:#fff; }
.m-page.hide { z-index:5; display:none; }
.m-page.active { z-index:15; display:block; }


.m-img { width:100%; height:100%; }

.slide-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: #a00;
}

.menu-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: url("../img/menu_bg.jpg");
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    /*float: left;*/
    -webkit-perspective: 800px;
    /*-webkit-perspective-origin: 50% 200px;*/
}

.wrapper {
    position: relative;
    margin: 0;
    height: 100%;
    /*width: 400px;*/
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
}

header {
    position: fixed;
    height: 100%;
    top: 0;
}

#main {
    position: relative;
    z-index: 10;
    top: 450px;
    padding: 0px;
    margin: 0;
    vertical-align: baseline;
}

#main>div {
    text-align: center;
    height: 20px;
    background: rgba(256, 256, 256, 0.33);
}

#main article {
    background: rgba(256, 256, 256, 0.8);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

#main article div {
    /*margin: 10px;*/
}

footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
    background-image: -o-linear-gradient(top, #999, #666 2%, #222);
    padding: 0;
    border-top: 1px solid #444;
}

.sw-slide {
    height: 100%;
}
