
/*reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/

html { width: 100%; height: 100%; }
body { margin:0 auto; width:100%; background:#fff; }
/**
 *  css sprite
 */


body {height: 100%; overflow: hidden;}

/*index*/
.p-index {  position:relative; height: 100%; width: 640px; overflow: hidden; }
.container {  position:relative; height: 100%; overflow: hidden; }

/* m-*/
.m-page { position:absolute; left:0; top:0%; height:100%; width:100%; background:#fff; }
.m-page.hide { z-index:5; display:none; }
.m-page.active { z-index:15; display:block; }


.m-img { width:100%; height:100%; }

.slide-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: #a00;
}

.menu-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: url("../img/menu_bg.jpg");
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    /*float: left;*/
    -webkit-perspective: 800px;
    /*-webkit-perspective-origin: 50% 200px;*/
}

.wrapper {
    position: relative;
    margin: 0 auto;
    /*height: 400px;*/
    /*width: 400px;*/
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
}

/*.wrapper .first-slide-active  {*/
    /*-webkit-transform: translateZ(320px);*/
/*}*/

/*.wrapper .second-slide-active {*/
    /*-webkit-transform: rotateX(-90deg) translateZ(320px);*/
/*}*/

/*.wrapper .three {
    -webkit-transform: rotateY(90deg) translateZ(320px);
}

.wrapper .four {
    -webkit-transform: rotateY(180deg) translateZ(320px);
}

.wrapper .five {
    -webkit-transform: rotateY(-90deg) translateZ(320px);
}*/

/*.wrapper .third-slide-active {*/
    /*-webkit-transform: rotateX(90deg) translateZ(320px);*/
/*}*/

.slide-list {
    overflow: hidden;
}

.sw-slide {
    position: absolute;
    display: none;
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 20px;*/
    background-color: rgba(50, 50, 50, 0.7);
}

.active-item {
    display: block;
}

/*
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}
*/