
body { margin:0; width:100%; background:#fff; padding: 0; position: relative}
/**
 *  css sprite
 */

h2 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*index*/
/*.p-index {  position:relative; height: 100%; width: 640px; overflow: hidden; }*/
.container {  position:relative; height: 100%; overflow: hidden; }

/* m-*/
.m-page { position:absolute; left:0; top:0%; height:100%; width:100%; background:#fff; }
.m-page.hide { z-index:5; display:none; }
.m-page.active { z-index:15; display:block; }


.m-img { width:100%; height:100%; }

.slide-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: #a00;
}

.menu-list {
    /*width: 448px;*/
    height: 100%;
    position: relative;
    background: url("../img/menu_bg.jpg");
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    /*float: left;*/
    /*-webkit-perspective: 800px;*/
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    /*-webkit-perspective-origin: 50% 200px;*/
}

.wrapper {
    position: relative;
    margin: 0;
    height: 100%;
    /*width: 400px;*/
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
}

header {
    max-width: 100%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
}

#main {
    position: relative;
    z-index: 10;
    padding: 0px;
    margin: 200px auto 0;
    vertical-align: baseline;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.sw-slide {
    height: 80px;
    float: left;
}

.sw-container-pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.sw-container-pagination .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

#footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
    background-image: -o-linear-gradient(top, #999, #666 2%, #222);
    padding: 0;
    border-top: 1px solid #444;
}

.footerbar ul {
    max-width: 100%;
}

.footerbar li {
    margin-right: -0.5px;
    width: 49.99%;
    -moz-box-sizing: border-box;
    border: 0 none;
    float: left;
    margin: 0;
    min-height: 1px;
    padding: 0;
}

.footerbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    display: block;
    margin: 0 -1px 0 0;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    position: relative;
    cursor: pointer;
    display: block;
}

.footerbar span {
    display: block;
    padding: 14px 20px;
    height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footerbar .active {
    background: #222222;
}

.share_box {
    display: block;
    position: fixed;
    text-align: center;
    opacity: 0.92;
    z-index: 101;
    bottom: -160px;
    background-color: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #AAA;
    left: 0;
    right: 0;
}

.share_box a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #FFFFFF;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.share_box a span {
    line-height: 30px;
    padding: 0;
    font-size: 12px;
}