.f-ofh {
    overflow: hidden;
    height: 100%!important;
}
body {
    position: relative;
    font-family: "微软雅黑";
    width: 640px;
    max-width: 640px;
    min-width: 640px;
    height: 100%;
    margin: 0 auto;
}

.p-ct {
    position: relative;
    width: 640px;
    height: 100%;
    overflow: hidden;
}

.translate-back {
    position: relative;
    width: 100%;
    height: 100%;
}

.m-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #ddd;
}

.m-page .page-con {
    position: relative;
    width: 100%;
    height: 101%;
    overflow: hidden;
}

.smallTxt-bd:first-child {
    border-bottom: 2px solid #fff;
}
.lazy-img, .lazy-finish {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.smallTxt-bd {
    position: relative;
    height: 49%;
    width: 100%;
}

.smallTxt-bd:first-child .bd-wrap {
    top: 30px;
}
.z-animate .bd-wrap, .smallTxt-detail.z-show p {
    opacity: 1;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    -o-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}
.z-right .bd-wrap {
    right: 30px;
    -webkit-transform: translate(-200px,0);
    -moz-transform: translate(-200px,0);
    -ms-transform: translate(-200px,0);
    -o-transform: translate(-200px,0);
    transform: translate(-200px,0);
}
/*.bd-wrap {
    position: absolute;
    z-index: 20;
    width: 400px;
    overflow: hidden;
    border-radius: 12px;
    font-size: 24px;
    opacity: 0;
}*/
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.smallTxt-bd:first-child .smallTxt-title {
    top: 0;
}
.smallTxt-title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    font-size: 28px;
    background: rgba(255,255,255,0.7);
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
* {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.z-right .bd-wrap .smallTxt-title p {
    padding: 0 25px 0 65px;
}
.smallTxt-title p {
    height: 100%;
    line-height: 130%;
    overflow: hidden;
}
.smallTxt-bd p {
    padding: 0 25px;
    color: #000;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
.z-right .bd-wrap .smallTxt-arrow {
    left: 20px;
}
.smallTxt-arrow {
    position: absolute;
    bottom: 5px;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: 0 -46px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.f-cur {
    cursor: pointer;
}
.smallTxt-bd:first-child .smallTxt-detail {
    top: 150px;
}
.smallTxt-detail {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
.smallTxt-bd:first-child .smallTxt-detail p {
    border-top: 2px solid #fff;
}
.smallTxt-detail p {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 150%;
    padding: 25px;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.smallTxt-bd p {
    padding: 0 25px;
    color: #000;
}
.smallTxt-bd:last-child {
    height: 51%;
}
.lazy-img, .lazy-finish {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.smallTxt-bd {
    position: relative;
    height: 49%;
    width: 100%;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
.smallTxt-bd:last-child .bd-wrap {
    bottom: 120px;
}
.z-animate .bd-wrap, .smallTxt-detail.z-show p {
    opacity: 1;
    -webkit-transform: translate(0,0)!important;
    -moz-transform: translate(0,0)!important;
    -ms-transform: translate(0,0)!important;
    -o-transform: translate(0,0)!important;
    transform: translate(0,0)!important;
}
.z-left .bd-wrap {
    left: 30px;
    -webkit-transform: translate(200px,0);
    -moz-transform: translate(200px,0);
    -ms-transform: translate(200px,0);
    -o-transform: translate(200px,0);
    transform: translate(200px,0);
}
.bd-wrap {
    position: absolute;
    z-index: 20;
    width: 400px;
    overflow: hidden;
    border-radius: 12px;
    font-size: 24px;
    opacity: 0;
}
.smallTxt-bd:last-child .smallTxt-title {
    bottom: 0;
}
.smallTxt-title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
    font-size: 28px;
    background: rgba(255,255,255,0.7);
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
* {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.z-left .bd-wrap .smallTxt-title p {
    padding: 0 65px 0 25px;
}
.smallTxt-title p {
    height: 100%;
    line-height: 130%;
    overflow: hidden;
}
.smallTxt-bd p {
    padding: 0 25px;
    color: #000;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
.z-left .bd-wrap .smallTxt-arrow {
    right: 20px;
}
.smallTxt-arrow {
    position: absolute;
    bottom: 5px;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: 0 -46px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.f-cur {
    cursor: pointer;
}
.smallTxt-bd:last-child .smallTxt-detail {
    bottom: 150px;
}
.smallTxt-detail {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
.smallTxt-bd:last-child .smallTxt-detail p {
    border-bottom: 2px solid #fff;
}
.smallTxt-detail p {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 150%;
    padding: 25px;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
}
.bd-wrap, .smallTxt-arrow, .smallTxt-detail, .smallTxt-detail p {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.smallTxt-bd p {
    padding: 0 25px;
    color: #000;
}
.f-cur {
    cursor: pointer;
}
.css_sprite01 {
    background-image: url(../img/css_sprite01.png)!important;
    background-repeat: no-repeat!important;
}

.smallTxt-arrow.z-toggle {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

.action.z-show p {
    -webkit-transform: translate(0px, 0px);
}

.smallTxt-detail p {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 150%;
    padding: 25px;
    overflow: hidden;
    background: rgba(255,255,255,0.7);
}

.smallTxt-bd:last-child .smallTxt-title {
    bottom: 0;
}