.link-for-magazine {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 250px;
    padding: 15px;
    margin-left: -125px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    /*background: rgba(0,0,0,0.5);*/
    text-align: center;
}

.link-for-magazine a {
    color: #ffffff;
    font-size: 300%;
}