
.progress-line {
    background: rgba(0,255,0,0.7);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: fixed;

}

@media all and ( orientation:portrait ) {
    .progress-line {
        width: 100%;
        height: 2px;
        top: 0;

    }
}

@media all and ( orientation:landscape ) {

    .progress-line {
        height: 100%;
        width: 200px;
        right: 0%;

    }
}
