body {

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.s-bg-ddd {
    background: #ddd;
}
.f-ofh {
    overflow: hidden;
    height: 100%!important;
}
body {
    position: relative;
    width: 640px;
    max-width: 640px;
    min-width: 640px;
    height: 100%;
    margin: 0 auto;
}

.s-bg-ddd {
    background: #ddd;
}
.f-ofh {
    overflow: hidden;
    height: 100%!important;
}

.p-ct {
    position: relative;
    width: 640px;
    height: 100%;
}

.translate-front.z-show {
    opacity: 1;
}
.translate-front {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
/*    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;*/
}


.z-hide {
    display: none !important;
}

.m-page .page-con {
    position: relative;
    width: 101%;
    height: 101%;
    overflow: hidden;
}

.translate-back.z-pos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    height: 1008px;
    overflow: hidden;
}
.translate-back {
    position: relative;
    width: 640px;
    overflow: hidden;
}

.m-page {
    overflow: hidden;
    background: #e2e2e2;
}

