body {
    font-size: 14px;
    color: #333;
    font-family: '微软雅黑','宋体';
    background-color: #fff;
    letter-spacing: 1px;
    box-shadow: 0 0 160px 0 #5C99E7;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.app {
    width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-content {
    height: 100%;
    overflow: hidden;
    -webkit-box-flex: 100;
}

.m-animationCloudBg {
    height: 100%;
    background: url(../img/bg.jpg);
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    overflow: hidden;
}

.m-animationCloudBg i {
    width: 640px;
    height: 300px;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 0 !important;
}

.m-animationCloudBg i:nth-child(1) {
    background: url(../img/cloud1.png);
    top: 50px;
    left: -100px;
    -webkit-animation: animationCloudBg 1s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(2) {
    background: url(../img/cloud2.png);
    top: 100px;
    left: -50px;
    -webkit-animation: animationCloudBg 2s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(3) {
    background: url(../img/cloud3.png);
    top: 150px;
    left: -0px;
    -webkit-animation: animationCloudBg 4s linear infinite;
    -webkit-animation-delay: 0s;
}

.m-animationCloudBg i:nth-child(4) {
    background: url(../img/cloud4.png);
    top: 200px;
    left: 50px;
    -webkit-animation: animationCloudBg 2s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(5) {
    background: url(../img/cloud5.png);
    top: 250px;
    left: -50px;
    -webkit-animation: animationCloudBg 1.2s linear infinite;
    -webkit-animation-delay: 3s;
}

.m-animationCloudBg i:nth-child(6) {
    background: url(../img/cloud6.png);
    top: 300px;
    left: 20px;
    -webkit-animation: animationCloudBg 3s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(7) {
    background: url(../img/cloud1.png);
    top: 350px;
    left: 80px;
    -webkit-animation: animationCloudBg 4.5s linear infinite;
    -webkit-animation-delay: 0s;
}

.m-animationCloudBg i:nth-child(8) {
    background: url(../img/cloud2.png);
    top: 400px;
    left: -10px;
    -webkit-animation: animationCloudBg 2.8s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(9) {
    background: url(../img/cloud3.png);
    top: 350px;
    left: 80px;
    -webkit-animation: animationCloudBg 1.6s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(10) {
    background: url(../img/cloud4.png);
    top: 20px;
    left: -100px;
    -webkit-animation: animationCloudBg 4s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(11) {
    background: url(../img/cloud5.png);
    top: 60px;
    left: 0px;
    -webkit-animation: animationCloudBg 2.5s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(12) {
    background: url(../img/cloud6.png);
    top: 0px;
    left: -50px;
    -webkit-animation: animationCloudBg 3.2s linear infinite;
    -webkit-animation-delay: 0s;
}

.foregroundImg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9997;
}

@-webkit-keyframes animationCloudBg {
    0% {
        -webkit-transform: scale(0.5) translate(-300px, 300px) rotateX(0deg) rotateY(0deg);
        opacity: 0;
    }
    33% {
        -webkit-transform: scale(1) translate(-80px, 80px) rotateX(20deg) rotateY(-20deg);
        opacity: 1;
    }
    66% {
        -webkit-transform: scale(1.5) translate(100px, -100px) rotateX(30deg) rotateY(-10deg);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1.8) translate(300px, -300px) rotateX(0deg) rotateY(0deg);
        opacity: 0.6;
    }
}
