
/*reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/

html { width: 100%; height: 100%; overflow-x: hidden; }
body { margin:0 auto; width:100%; background:#fff; }

* {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

body {height: 100%; overflow: hidden; overflow-x: hidden;}

/*index*/
.p-index {  position:relative; height: 100%; width: 100%; overflow: hidden; }
.container {  position:relative; height: 100%; overflow: hidden; }

/* m-*/
.m-page { position:absolute; left:0; top:0%; height:100%; width:100%; background:#fff; }
.m-page.show { z-index:10; display:block; }
.m-page.hide { z-index:5; display:none; }
.m-page.active { z-index:15; display:block; }


.m-img { width:100%; height:100%; }

.slide-list {
    height: 100%;
    position: relative;
    background: #a00;
}

.menu-list {
    height: 100%;
    position: relative;
}

.menu-list>div {
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.menu-list h3 {
    font-size: 25px;
    color: #fff;
}

.menu-list ul {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.menu-list li {
    font-size: 20px;
    color: #fff;
    list-style-type: disc;
    padding: 20px 0;
}

.nav-slide {
    width: 100%;
    height: 100%;
}

.slide-list {
    overflow: hidden;
}

.show-elem {
    margin: 10px;
    float: left;
}

.sw-wrapper, .wrapper {
    height: 100%;
}

.sw-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.m-img {
    opacity: 1;
}

.sw-slide, .text-title, .m-img {
    -webkit-transform: translate3d(0px, 0px, 0px) ;
    -moz-transform: translate3d(0px, 0px, 0px) ;
    -ms-transform: translate3d(0px, 0px, 0px) ;
    -o-transform: translate3d(0px, 0px, 0px) ;
    transform: translate3d(0px, 0px, 0px) ;
}

video::-webkit-media-controls {
    visibility: visible!important;
    opacity: 1!important;
    z-index: 2147483647;
}

.screen-music-security {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}

.screen-music-security div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 400%;
}

.screen-music-security .silence-button {
    text-decoration: underline;
}

.icon-music {
    width: 54px;
    height: 54px;
    background: url(../img/units-icons.png);
    display: block;
}

.icon-music div {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.icon-music.play-music {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

.audio-button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: fixed;
    left: 50%;
    margin-left: 248px;
    bottom: 28px;
    display: block;
    z-index: 9999;
}


@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(-360deg)
    }
}

.audio-button span {
    position: absolute;
    /*left: -60px;*/
    right: 70px;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    -webkit-transition: all .2s linear;
    opacity: 0;
    -webkit-transform: translateX(-20px);
}

.audio-button span.audio-show {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
