
.progress-line {
    background: rgba(0,255,0,0.7);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    z-index: 10;
    top: 0;
}

@media all and ( orientation:portrait ) {
    .progress-line {
        width: 100%;
        height: 2px;
        top: 0;

    }
}

@media all and ( orientation:landscape ) {

    .landscape-prewiev-wrp .progress-line {
        height: 100%;
        width: 200px;
        right: 0;

    }
}
.landscape-prewiev-wrp .progress-line {
    height: 100%;
    width: 200px;
    right: 0;

}