body{
    font-family: 'Muli', 'Helvetica', 'Arial';
    min-width: 1200px;
    padding-bottom: 20px;
}

*{
    /*-webkit-transition: all .3s ease;*/
    /*-moz-transition: all .3s ease;*/
    /*-ms-transition: all .3s ease;*/
    /*-o-transition: all .3s ease;*/
    /*transition: all .3s ease;*/
}
.back .fa.fa-angle-left{
    position: relative;
    font-size: 35px;
    top: 0;
    color: #FFFFFF;
    left: 0;
}
.disabled:focus > i,
.disabled:active > i,
.disabled:hover > i,
.disabled > i,
.disabled:focus,
.disabled:active,
.disabled:hover,
.disabled {
    background: rgb(204, 204, 204) !important;
    color: gray !important;
    cursor: not-allowed !important;
    opacity: 1 !important;
}
i{
    cursor: pointer;
}
body.off .tooltip,
body .off .tooltip{
    opacity: 0 ;
}

.nav > li a{
    overflow: hidden;
}
.images-overview-edit-wrp{
    width: 480px;
    height: 720px;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
    -ms-box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
    -webkit-box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
    -moz-box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
    -o-box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
    border-right: 0;
    border-bottom: 0;
}
.images-overview-edit-wrp.images-overview-edit-lanscape-wrp{
    width: 960px;
    height: 640px;
    box-shadow: 3px 4px 0px -1px rgb(163, 163, 163);
    -ms-box-shadow: 3px 4px 0px -1px rgb(163, 163, 163);
    -webkit-box-shadow: 3px 4px 0px -1px rgb(163, 163, 163);
    -moz-box-shadow: 3px 4px 0px -1px rgb(163, 163, 163);
    -o-box-shadow: 3px 3px 0px -1px rgb(163, 163, 163);
}


/*head
---------------------------------------------------------------------------------------------------------------------*/
.logo-wrp img{
    background: transparent;
    width: 330px;
}
.logo-wrp{
    text-align: center;
    margin-top: -60px;
    margin-bottom: 60px;
}
.main-page-title .logo-wrp{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-page-title .logo-wrp img{
    background: transparent;
    width: 200px;
    padding: 10px 0px;
}
.adding-images-navbar-nav > li > a{
    min-width: 50px;
    text-align: center;
    font-size: 20px;
}
.adding-images-navbar-nav > li > a:focus,
.adding-images-navbar-nav > li > a:active{
    color: #fff !important;
}
.adding-images-navbar .fa-angle-left{
    font-size: 35px;
    width: 50px;
    margin-left: -2px;
}
.adding-images-navbar .nav > li > a{
    padding: 15px;
    text-align: center;
}
.adding-images-navbar .nav > li > a.back{
    padding: 8px 0px;
    text-align: center;
}

.adding-images-navbar-nav > li > a > span{
    font-size: 14px;
    line-height: 14px;
}
.navbar-right.adding-images-navbar-nav > li > a{
    padding: 15px;
}
.browse-img{
    opacity: 0;
    /*font-size: 0;*/
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    cursor: pointer;
}
.adding-images-navbar {
    background-color: rgb(209, 68, 81);
    border-color: rgba(255, 255, 255, 0);
    border-bottom: 0;
}
.adding-images-navbar a.navbar-brand,
.adding-images-navbar ul.navbar-nav > li > a {
    color: #fff;
}
.adding-images-navbar a.navbar-brand:hover{
    color: #ebebeb;
}
.adding-images-navbar.navbar-default .navbar-nav > .active > a,
.adding-images-navbar.navbar-default .navbar-nav > .active > a:hover,
.adding-images-navbar.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgb(141, 33, 47);
}
.adding-images-navbar.navbar-default .navbar-nav > li > a:hover{
    background-color: rgba(182, 37, 55, 1);
    color: #fff;
}
.adding-images-navbar .nav > li > a.back{
    color: #fff;
    background-color: rgb(141, 33, 47);
}
.adding-images-navbar.navbar-default .navbar-nav > li.back > a:hover{
    background-color: rgba(182, 37, 55, 1);
    color: #fff!important;
}
/*end head
---------------------------------------------------------------------------------------------------------------------*/


/*body
---------------------------------------------------------------------------------------------------------------------*/
.pages-container-wrp{
    padding-top: 20px;
}
.pages-container-wrp img{
    /*width: 100%;*/
    /*height: auto;*/
}

/*select mode page----------------------------------------------------------------------------------------------------*/
.main-centered-wrp{
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.centered-wrp{
    margin: 0 auto;
    height: 100%;
    display: table;
}
.centered-wrp,
.container{
    width: 1200px;
}
.adding-images-navbar .container{
    padding-right: 0px;
    padding-left: 0px;
}
.main-inner-centered-wrp{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.vagazine-multiselect-wrp{
    width: 600px;
    margin: 0 auto;
}
.main-inner-centered-wrp .vagazine-multiselect-wrp .chosen-container-multi .chosen-choices,
input.form-control{
    border-radius: 0;
    box-shadow: inset 0 0 0;
    border: 0;
    background-color: #fffcd0;
    background: #fffcd0;
    color: #070b36;
    min-height: 34px !important;
}
.vagazine-multiselect-wrp .chosen-drop{
    border: 0;
    box-shadow: 0 0 0;
    background: #f8f5c9;
    overflow: hidden;
}
.vagazine-multiselect-wrp .chosen-container-multi .chosen-choices li.search-choice {
    margin: 0px 3px 0px 0px;
    background: rgb(209, 68, 81);
    color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    padding: 11px 15px;
    padding-right: 20px;
    margin-bottom: 2px;
}
.vagazine-multiselect-wrp .chosen-container-multi .chosen-drop .result-selected{
    background: rgb(181, 178, 146);
    color: #fff;
    cursor: not-allowed;
}
.vagazine-multiselect-wrp .chosen-container .chosen-results li.highlighted{
    background: rgb(211, 208, 173);
}
.vagazine-multiselect-wrp .chosen-drop ul.chosen-results{
    width: 620px;
    padding: 10px 0px;

}
.vagazine-multiselect-wrp .chosen-drop:after,
.vagazine-multiselect-wrp .chosen-drop:before{
    background: -moz-linear-gradient(top,  rgba(248,245,201,1) 0%, rgba(248,245,201,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,245,201,1)), color-stop(100%,rgba(248,245,201,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,245,201,1) 0%,rgba(248,245,201,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,245,201,1) 0%,rgba(248,245,201,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,245,201,1) 0%,rgba(248,245,201,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,245,201,1) 0%,rgba(248,245,201,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f5c9', endColorstr='#00f8f5c9',GradientType=0 ); /* IE6-9 */
    content: 'hidden-text';
    font-size: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    left: 0;
    z-index: 10;
}
.vagazine-multiselect-wrp .chosen-drop:after{
    background: -moz-linear-gradient(top,  rgba(248,245,201,0) 0%, rgba(248,245,201,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,245,201,0)), color-stop(99%,rgba(248,245,201,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,245,201,0) 0%,rgba(248,245,201,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,245,201,0) 0%,rgba(248,245,201,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,245,201,0) 0%,rgba(248,245,201,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,245,201,0) 0%,rgba(248,245,201,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f5c9', endColorstr='#f8f5c9',GradientType=0 ); /* IE6-9 */
    top: initial;
    bottom: 0px;
    height: 15px;
}
.vagazine-multiselect-wrp .chosen-container .chosen-results li{
    padding-right: 20px;
}
.vagazine-multiselect-wrp .chosen-container-multi .chosen-choices li.search-field{
    padding-left: 10px;
}
.main-inner-centered-wrp .vagazine-multiselect-wrp .chosen-container.chosen-container-multi{
    width: 100% !important;
}
.vagazine-multiselect-wrp .chosen-container .chosen-results li em{
    font-weight: 900;
    color: rgb(209, 68, 81);
}
.vagazine-multiselect-wrp .chosen-container .chosen-results li.no-results{
    background: rgb(209, 68, 81);
    color: #fff;
}
.vagazine-multiselect-wrp li.no-results span{
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}
.main-inner-centered-wrp .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    font-family: 'Muli', 'Helvetica', 'Arial';
    height: 34px;
    font-size: 14px;
    color: #070b36;
    padding-left: 2px;
    line-height: 34px;
}
.main-inner-centered-wrp .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 12px;
    right: 4px;

}
.vegazine-label{
    width: 600px;
    display: block;
    margin: 0 auto;
}
.main-inner-centered-wrp .vagazine-multiselect-wrp .chosen-container-multi .chosen-choices{

    line-height: 35px;
}
::-webkit-input-placeholder {
    color: #070b36 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #070b36!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #070b36!important;
}

:-ms-input-placeholder {
    color: #070b36!important;
}
:focus::-webkit-input-placeholder {color: transparent!important;}
:focus::-moz-placeholder          {color: transparent!important;}
:focus:-moz-placeholder           {color: transparent!important;}
:focus:-ms-input-placeholder      {color: transparent!important;}

input.form-control:focus{
    box-shadow: 0 0 0 0px rgba(209, 68, 81, 0.22);
}
input.form-control.has-error{
    background-color: #ff5956;
    color: #fff;
}
input.form-control.has-error::-webkit-input-placeholder {
    color: #fff !important;
}

input.form-control.has-error:-moz-placeholder { /* Firefox 18- */
    color: #fff!important;
}

input.form-control.has-error::-moz-placeholder {  /* Firefox 19+ */
    color: #fff!important;
}

input.form-control.has-error:-ms-input-placeholder {
    color: #fff!important;
}

.error{
    list-style: none;
    color: #ff5956;
    padding-left: 0;
    text-align: center;
}
.mode-select-wrp .landscape img,
.mode-select-wrp .portrait img{
    width: 450px;
}
.mode-select-wrp input[type="radio"]{
    width: 0;
    margin-left: -8px;
    opacity: 0;
}
.mode-select-wrp label{
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0 0;
}
.mode-select-wrp .btn-primary.active{
    color: #ffffff;
    background-color: #D14451;
    box-shadow: inset 0 0 0;
}
.mode-select-wrp .btn-primary.active:hover{
    background-color: #b6424f;
}
.mode-select-wrp .btn-primary {
    color: #ffffff;
    background-color: #D9D9D9;
    border-color: #357ebd;
}
.mode-select-wrp .btn-primary:hover{
    background-color: #c5c5c5;
}
.mode-select-wrp .btn-group{
    width: 100%;
}
.main-inner-centered-wrp .vagazine-multiselect-wrp .chosen-container-multi .chosen-choices,
.main-inner-centered-wrp input.input-title{
    width: 600px;
    margin: 0 auto;
}
.header-group{
    margin-bottom: 50px;
}
.footer-group{
    margin-top: 50px;
    margin-right: 30px;
}
.footer-group button{
    background-color: #D14451;
    background: #D14451;
    width: 130px;
    display: block;
    margin: 0 auto;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    box-shadow: inset 0 0 0;
    border-radius: 0;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12{
    float: left;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

.col-sm-1{
    width: 200px;
}
.col-sm-2{
    width: 240px;
}
.col-sm-3{
    width: 300px;
}
.col-sm-4{
    width: 400px;
}
.col-sm-5{
    width: 500px;
}
.col-sm-6{
    width: 600px;
}
.col-sm-7{
    width: 700px;
}
.col-sm-8{
    width: 800px;
}
.col-sm-9{
    width: 900px;
}
.col-sm-10{
    width: 1000px;
}
.col-sm-11{
    width: 1100px;
}
.col-sm-12{
    width: 1200px;
}
/*end select mode page-----------------------------------------------------------------------------------------------*/



/*end adding-images
---------------------------------------------------------------------------------------------------------------------*/
.page-title{
    color: #D8D8D8;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.pages-container-wrp .row{
    margin-bottom: 20px;
}
.toggle-wrp{
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

}
.toggle-wrp:hover{
    box-shadow: 0 0 0px 2px rgba(209, 68, 81, 1);
    -o-box-shadow: 0 0 0px 2px rgba(209, 68, 81, 1);
    -moz-box-shadow: 0 0 0px 2px rgba(209, 68, 81, 1);
    -webkit-box-shadow: 0 0 0px 2px rgba(209, 68, 81, 1);
    -ms-box-shadow: 0 0 0px 2px rgba(209, 68, 81, 1);
    -webkit-border: 2px solid rgb(209, 68, 81);

}
.container.next-btn-container{
    width: 100%;
    border-bottom: 2px solid rgba(209, 68, 81, 1);
    position: fixed;
    bottom: 0;
}
.container.next-btn-container:hover{
    border-bottom: 2px solid rgba(138, 38, 46, 1);
}
.container.next-btn-container .next-btn-wrp{
    width: 1200px;
    margin: 0 auto;
}
.container.next-btn-wrp:hover{
    box-shadow: 0 0 0;
}
.toggle-wrp .fa-check{
    position: absolute;
    color: white;
    display: none;
    background: rgba(209, 68, 81, 1);
    padding: 10px 10px;
    bottom: 0;
    right: 0px;
}
.toggle-wrp.checked .fa-check{
    display: block;
}

/*end adding-images
---------------------------------------------------------------------------------------------------------------------*/



/*prewiev
---------------------------------------------------------------------------------------------------------------------*/
.vegazine-header-nav-wrp{
    position: relative;
    z-index: 10;
}
.fa-angle-right,
.fa-angle-left{
    position: absolute;
    font-size: 90px;
    top: 42%;
    color: #D14451;
}
.fa-angle-right:active,
.fa-angle-left:active{
    color: rgba(209, 68, 81, 0.37);
}
.fa-angle-right:hover,
.fa-angle-left:hover{
    color: rgba(209, 68, 81, 0.77);
    text-decoration: none;
    cursor: pointer;
}
.fa-angle-left{
    left: -50px;
}
.fa-angle-right{
    right: -50px;
}
ul.nav.navbar-nav.navbar-left.adding-images-navbar-nav > li > a {
    padding: 15px;
    text-align: center;
}
.main-page-title{
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    left: 0;
    z-index: -1;
    padding: 6px 0px;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
/*.prewiev-wrp{*/
    /*width: 580px;*/
    /*margin: 0 auto;*/
    /*position: relative;*/

/*}*/

.portrait .prewiev-wrp {
    width: 580px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -290px;
    margin-top: -435px;
}

.landscape .prewiev-wrp {
    width: 580px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -320px;
}

.prewiev-wrp.landscape-prewiev-wrp{
    width: 960px;
}
.prewiev-wrp img{
    /*max-height: 960px;*/
}
.prewiev-wrp div.wegazine-preview{
    height: 960px;
    width: 640px;
    /*height: 870px;*/
    /*width: 580px;*/
}
.prewiev-wrp.landscape-prewiev-wrp div.wegazine-preview{
    height: 640px;
    width: 960px;
}
/*end prewiev
---------------------------------------------------------------------------------------------------------------------*/




/*images-overview
---------------------------------------------------------------------------------------------------------------------*/
.nav.navbar-nav.adding-images-navbar-nav span.nav-title{
    padding: 15px;
    color: #fff;
    display: inline-block;
}
.navigation-img-wrp-main{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    z-index: 100;
}
.navigation-img-wrp-main .navigation-img-wrp{
    position: relative;
    height: 100%;
    width: 200px;
    background: rgb(249, 249, 249);
    overflow-y: scroll;

}
.navigation-img-wrp img{
    width: 100%;
}
.nav-toggle-btn{
    position: absolute;
    display: block;
    color: #FFFFFF !important;
    background: rgb(209, 160, 68);
    padding: 11px 15px;
    font-size: 30px;
    width: 53px;
    height: 51px;
}
.nav-toggle-btn.active{
    background: rgb(159, 118, 57);
}
.nav-toggle-btn i.fa.fa-minus:first-child{
    top: 10px\0/;

}
.nav-toggle-btn i{
    position: absolute;
    opacity: 1\0/;
}

.nav-toggle-btn.active i.fa.fa-minus.plus{
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -webkit-transition: width .2s, height .2s, -webkit-transform .2s;
    transition: width .2s, height .2s, transform .2s;
    -moz-transition: width .2s, height .2s, -moz-transform .2s;
    -ms-transition: width .2s, height .2s, -ms-transform .2s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    top: 9px;
    right: 15px;
    opacity: 1;
}
.nav-toggle-btn i.fa.fa-minus.plus{
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -webkit-transition: width .2s, height .2s, -webkit-transform .2s;
    transition: width .2s, height .2s, transform .2s;
    -moz-transition: width .2s, height .2s, -moz-transform .2s;
    -ms-transition: width .2s, height .2s, -ms-transform .2s;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    top: 8px;
    right: 14px;
    /*opacity: 0;*/
}
.navigation-img-wrp > li > a{
    border-radius: 0;
    padding: 0px 0px 0px 0px;
}
.navigation-img-wrp > li.active > a{
    box-shadow: 0 0 0 2px rgb(209, 68, 81);
    -ms-box-shadow: 0 0 0 2px rgb(209, 68, 81);
    -webkit-box-shadow: 0 0 0 2px rgb(209, 68, 81);
    -mox-box-shadow: 0 0 0 2px rgb(209, 68, 81);
    -o-box-shadow: 0 0 0 2px rgb(209, 68, 81);

}
.navigation-img-wrp > li > a:hover,
.navigation-img-wrp > li.active > a:hover{
    box-shadow: 0 0 0 2px rgb(246, 73, 86);
    -ms-box-shadow: 0 0 0 2px rgb(246, 73, 86);
    -webkit-box-shadow: 0 0 0 2px rgb(246, 73, 86);
    -mox-box-shadow: 0 0 0 2px rgb(246, 73, 86);
    -o-box-shadow: 0 0 0 2px rgb(246, 73, 86);

    cursor: pointer;
}
.navigation-img-wrp > li{
    padding: 10px 10px 0px 8px;
}
.navigation-img-wrp > li.last{
    padding-bottom: 10px;
}
.images-overview-edit-wrp img{
    width: 100%;
}
.images-overview-edit-wrp{
    width: 480px;
    margin: 0 auto;
}

.photo-slide{
    color: rgb(209, 68, 81);
    font-size: 50px;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;

}
.photo-slide:hover{
    color: #8b3945;
}
.edit-photo-menu-wrp{
    position: fixed;
    z-index: 99;
    right: 0;
    width: 40px;
    top: 0;
    height: 100%;
    padding-top: 50px;
    background: rgb(238, 94, 107);
}
.edit-photo-menu-wrp .text-icon{
    font-family: 'Times New Roman';
}
.edit-photo-menu-wrp .col-sm-2{
    width: 100%;
    padding: 0;
    text-align: center;
}
.edit-photo-menu-wrp .col-sm-2 ul > li > a > i{
    margin-left: 0px;
}
.edit-photo-menu-wrp .col-sm-2 ul > li > a{
    color: #fff;
    border-radius: 0;
}
.edit-photo-menu-wrp .col-sm-2 ul > li.active > a{
    background: #8b3945;
}
.edit-photo-menu-wrp .col-sm-2 ul > li > a:hover{
    background: rgb(209, 68, 81);
}
.edit-photo-menu-wrp .col-sm-2 ul > li{
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
}
/*end images-overview
---------------------------------------------------------------------------------------------------------------------*/




/*effect-music
---------------------------------------------------------------------------------------------------------------------*/
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled > a:hover,
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled > i:hover,
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled:focus,
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled:active,
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled:hover,
.edit-photo-menu-wrp .col-sm-2 ul > li > .disabled{
    background: rgb(204, 204, 204);
    color: gray;
    cursor: not-allowed;
}
.images-overview-edit-wrp{
    position: relative;
}
.effect-elements-wrp{
    position: absolute;
    z-index: 10;
    padding: 15px;
    height: 100%;
    width: 100%;
}
.music-wrp{
    list-style: none;
    padding-left: 0;
}
.music-wrp .radio{
    background: rgba(244, 244, 244, 0.80);
    padding: 7px 3px 0px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.music-wrp .radio i{
    color: rgb(209, 68, 81);
    float: right;
    margin-right: 3px;
    line-height: 20px;
}
.music-wrp .radio i:hover,
.music-wrp .radio i:active{
    color: #8b3945;
    cursor: pointer;
}
.music-wrp .radio:hover{
    background: rgb(247, 247, 251);
}
.music-wrp .radio span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 360px;
    padding-right: 20px;
}
.music-wrp i.fa.fa-trash-o{

}
.music-wrp .upload-music{
    position: relative;
    color: #fff;
    background: rgb(209, 68, 81);
    padding: 5px 10px;
}
.music-wrp .upload-music:hover{
    background: #8b3945;
    color: #fff;
    cursor: pointer;
}
.music-wrp .upload-music .browse-img{
    width: 34px;
    height: 27px;
    cursor: pointer;
}
.music-wrp .upload-music .browse-img:hover{
    cursor: pointer;
}
.apply-changes-bottom-group{
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding-right: 30px;
}
.apply-changes-bottom-group label{
    width: 50%;
    background: rgb(221, 218, 218);
    border: 0;
    border-radius: 0;
    color: #333;
    box-shadow: inset 0 0 0;
}
.apply-changes-bottom-group label:hover{
    background: rgb(200, 197, 197);
    color: #333;
    border: 0;
    box-shadow: inset 0 0 0;
}
.apply-changes-bottom-group label.active{
    background: rgb(209, 68, 81);
    box-shadow: inset 0 0 0;
}
.apply-changes-bottom-group label.active:hover{
    background: #8b3945;
    color: #fff;
    box-shadow: inset 0 0 0;
}
.music-style-select{
    position: relative;

}

.music-style-select select{
    border-radius: 0;
    box-shadow:  inset 0 0 0;
    padding-left: 5px;
}
.music-style-select select:focus{
    border: 1px solid rgb(209, 68, 81);
    box-shadow: 0 0 0;

}

.music-style-select span{
    position: absolute;
    right: 1px;
    top: 1px;
    color: rgb(209, 68, 81);
    background: #fff;
    height: 32px;
    width: 45px;
    text-align: center;
    padding: 7px 0px;
    padding-left: 15px;

}


/*end effect-music
---------------------------------------------------------------------------------------------------------------------*/



/*add-text
---------------------------------------------------------------------------------------------------------------------*/
.wwb-hr{
    border-color: rgba(209, 68, 81, 0.21);
    margin-top: 0;
    margin-bottom: 0;

}
.adding-images-navbar-nav > li.active > a{
    background: #eee;
}

.add-text .entered-field{
    position: absolute;
    top: 170px;
    left: 40px;
    width: 200px;
    border: 1px dashed gray;
    padding: 5px;

}
.add-text .collapse-wrp{
    width: 200px;
    position: relative;
    display: inline-block;
}
.collapse-wrp .panel-default > .panel-heading {
    color: #333333;
    background-color: #FFFFFF;
    border-color: #F2F2F2;
    padding-right: 25px;
}
.collapse-icon-wrp{
    position: absolute;
    right: 10px;
    top: 12px;
}
.collapse-wrp .panel-body {
    padding: 0px 20px 10px 20px;
    border-top: 0px solid #dddddd !important;
}
.collapse-wrp .panel-body .add-text-inner-wrp{
    margin-bottom: 0;
}
.collapse-wrp .size-arrow-wrp .fa-unsorted,
.collapse-wrp .size-arrow-wrp .fa-caret-left,
.collapse-wrp .size-arrow-wrp .fa-caret-right {
    position: absolute;
    top: 45%;
    padding: 5px;
    color: #D14451;
    font-size: 18px;
}

.collapse-wrp .size-arrow-wrp .fa-unsorted {
    top: initial;
    bottom:0;
    right: 0;
}
.collapse-wrp .size-arrow-wrp .fa-caret-left{
    left: 0px;
}
.collapse-wrp .size-arrow-wrp .fa-caret-right{
    right: 0px;
}
/*.collapse-wrp .panel-title .fa-plus{*/
/*opacity: 0;*/
/*}*/
/*.collapse-wrp .panel-title .collapsed .fa-times{*/
/*opacity: 0;*/
/*}*/
/*.collapse-wrp .panel-title .collapsed .fa-times,*/
/*.collapse-wrp .panel-title .collapsed .fa-plus{*/
/*transition: opacity .2s ease-in-out;*/
/*-moz-transition: opacity .2s ease-in-out;*/
/*-webkit-transition: opacity 2s ease-in-out;*/
/*-webkit-transition: width .5s, height .5s, -webkit-transform .5s; *//* For Safari 3.1 to 6.0 */
/*transition: width .5s, height .5s, transform .5s;*/
/*-webkit-transform: rotate(180deg); *//* Chrome, Safari, Opera */
/*transform: rotate(180deg);*/
/*}*/
/*.collapse-wrp .panel-title .collapsed .fa-times,*/
/*.collapse-wrp .panel-title .collapsed .fa-plus{*/
/*position: absolute;*/
/*right: 0;*/
/*}*/
/*.collapse-wrp .panel-title .fa-times{*/
/*opacity: 1;*/
/*color: #D14451;*/
/*transition: opacity .2s ease-in-out;*/
/*-moz-transition: opacity .2s ease-in-out;*/
/*-webkit-transition: opacity 2s ease-in-out;*/
/*-webkit-transition: width .5s, height .5s, -webkit-transform .5s; *//* For Safari 3.1 to 6.0 */
/*transition: width .5s, height .5s, transform .5s;*/
/*-webkit-transform: rotate(90deg); *//* Chrome, Safari, Opera */
/*transform: rotate(90deg);*/
/*}*/
/*.collapse-wrp .panel-title .collapsed .fa-plus{*/
/*opacity: 1;*/
/*color: #D14451;*/

/*}*/
.collapse-wrp .panel-title .collapsed .fa-plus{
    position: absolute;
    right: 0px;
    color: #fff;
    background: #D14451;
    background-color: #D14451;
    border-radius: 30px;
    width: 20px;
    padding: 4px;
    line-height: 12px;
    font-size: 14px;
    padding-bottom: 3.7px;
    padding-top: 4.5px;
}
.collapse-wrp .panel-title .collapsed .fa-plus{
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -webkit-transition: width .2s, height .2s, -webkit-transform .2s;  /*For Safari 3.1 to 6.0*/
    transition: width .2s, height .2s, transform .2s;
    -moz-transition: width .2s, height .2s, -moz-transform .2s;
    -ms-transition: width .2s, height .2s, -ms-transform .2s;
    -webkit-transform: rotate(180deg);  /*Chrome, Safari, Opera*/
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    top: -2px;
}
.collapse-wrp .panel-title .fa-plus{
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -webkit-transition: width .2s, height .2s, -webkit-transform .2s;  /*For Safari 3.1 to 6.0*/
    transition: width .2s, height .2s, transform .2s;
    -moz-transition: width .2s, height .2s, -moz-transform .2s;
    -ms-transition: width .2s, height .2s, -ms-transform .2s;
    -webkit-transform: rotate(45deg);  /*Chrome, Safari, Opera*/
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    color: #fff;
    background: #D14451;
    background-color: #D14451;
    border-radius: 30px;
    width: 20px;
    padding: 4px;
    line-height: 12px;
    font-size: 14px;
    padding-left: 4.5px;
    top: -2px;
    position: absolute;
    right: 0px;
}
@-moz-document url-prefix() {
    .collapse-wrp .panel-title .fa-plus{
        height: 19px;
        padding-bottom: 4px;
        padding-left: 4px;
        width: 19px;
    }
    .collapse-wrp .panel-title .collapsed .fa-plus{
        height: 19px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-top: 4px;
        width: 19px;
    }
}
.add-text .collapse-wrp span{
    padding: 5px 10px;
    display: inline-block;
}
.add-text .collapse-wrp a{
    display: inline-block;
    color: #101010;
    text-decoration: none !important;
}
.add-text .collapse-wrp a i{
    margin-left: 1px;
}

.effect-elements-wrp .error{
    margin-top: 5px;
}
.effect-elements-wrp .error > li{
    text-align: center;
}
.effect-elements-wrp .error > li > span{
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;

    padding: 4px 10px;
}
.effect-elements-wrp .vegazine-btn.add-btn{
    background-color: #52C226!important;
    background: #52C226!important;
}
.effect-elements-wrp .vegazine-btn.add-btn:hover{
    background-color: #48a124 !important;
    background: #48a124 !important;
}
/*end add-text
---------------------------------------------------------------------------------------------------------------------*/



/*add-url
---------------------------------------------------------------------------------------------------------------------*/

.effect-wrp.add-url{
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}
.effect-wrp.add-url label{
    font-weight: 400;
}
.btn.wgzn-btn-active,
.btn.wgzn-btn-default{
    border: 2px solid !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: inset 0 0 0 !important;
    color: #fff;
    background: rgba(0, 0, 0, 0.51) !important;
    background-color: rgba(0, 0, 0, 0.51) !important;

}
.smudge-modal .close-row .ok-btn,
.smudge-modal .close-row .close-btn{
    width: 140px !important;
    font-size: 14px;
    padding: 10px 15px;
}
.smudge-modal .close-row .ok-btn{
    background-color: #52C226!important;
    background: #52C226!important;
}
.smudge-modal .close-row .ok-btn:hover{
    background-color: #439522 !important;
    background: #439522!important;
}
.btn.wgzn-btn-active{
    border-color: #D14451 !important;
}
.btn.wgzn-btn-default{
    border-color: #fff !important;
}
/*end add-url
---------------------------------------------------------------------------------------------------------------------*/



/*CUT IMAGE
---------------------------------------------------------------------------------------------------------------------*/

.effect-elements-wrp .centered-wrp{
    width: 100%;
}
.cut-image-wrp .main-inner-centered-wrp{
    font-size: 24px;
}
.cut-image-wrp .main-inner-centered-wrp p{
    margin-bottom: 0;
}
.cut-image-wrp .main-inner-centered-wrp .cut-image-wrp-message{
    width: 380px;
    margin: 0 auto;
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px dashed gray;
    padding: 60px 20px;
    background: rgba(255, 255, 255, 0.7);

}
/*end CUT IMAGE
---------------------------------------------------------------------------------------------------------------------*/




/*effect-enlarge
---------------------------------------------------------------------------------------------------------------------*/

.enlarge-header-wrp{
    padding: 0;
    width: 50px;

}
.enlarge-header-wrp .btn-primary.active{
    color: #fff;
    background-color:rgb(209, 68, 81);
    background: rgb(209, 68, 81);
    box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -weblit-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -ms-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -o-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, 0.34);
    padding: 15px;
    padding-bottom: 16px;

}
.btn-primary-off{
    width: 50px;

}
.enlarge-header-wrp .btn-primary.active:hover{
    border-right: 0px solid transparent;

}
.enlarge-header-wrp .btn-primary {
    color: #878787;
    background-color: #e5e1e6;
    background: #e5e1e6;
    border: 0px solid transparent;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.47);
    padding: 15px;
    padding-bottom: 16px;

}
.btn-group .btn + .btn{
    margin-left: 0;
}
/*end effect-enlarge
---------------------------------------------------------------------------------------------------------------------*/




/*effect-photoalbum
---------------------------------------------------------------------------------------------------------------------*/


.photoalbum-title-wrp{
    position: absolute;
    color: rgb(163, 163, 163);
    text-align: center;
    width: 100%;
    padding-right: 30px;
}
.photoalbum-title-wrp.top{
    top: 20px;
}
.photoalbum-title-wrp.bottom{
    bottom: 20px;
}
.effect-wrp.photoalbum-wrp {
    padding-top: 40px;
    padding-bottom: 40px;
}
.effect-wrp.photoalbum-wrp .col-sm-2 {
    width: 95px;
}
.effect-wrp.photoalbum-wrp .toggle-wrp .fa-check {
    padding: 3px;

}
.images-overview-edit-wrp.images-overview-edit-lanscape-wrp .effect-wrp.photoalbum-wrp .col-sm-1 {
    width: 119px;
}
/*end effect-photoalbum
---------------------------------------------------------------------------------------------------------------------*/




/*effect-pop-up
---------------------------------------------------------------------------------------------------------------------*/

.adding-images-navbar .nav > li > a.gnrt-mgzn{
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    margin-left: 0;
    min-height: 51px;
}

/*end effect-pop-up
---------------------------------------------------------------------------------------------------------------------*/



/*loader-wrp
---------------------------------------------------------------------------------------------------------------------*/
.loader-wrp{
    position: fixed;
}
.loader-wrp .loader-inner-wrp{
    background: rgb(247, 247, 247);
    padding: 30px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 100px 20px rgb(36, 36, 36);
    -webkit-box-shadow: 0 0 100px 20px rgb(36, 36, 36);
    -ms-box-shadow: 0 0 100px 20px rgb(36, 36, 36);
    -moz-box-shadow: 0 0 100px 20px rgb(36, 36, 36);
    -o-box-shadow: 0 0 100px 20px rgb(36, 36, 36);
    position: relative;
}
.loader-wrp .sr-only {
    position: relative;
    width: 1px;
    height: 20px;
    padding: 0;
    margin: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.loader-wrp .loader-inner-wrp span{
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.progress {
    background-color: #387038;
    border-radius: 0;
}
/*end loader-wrp
---------------------------------------------------------------------------------------------------------------------*/


/*effect-smudge
---------------------------------------------------------------------------------------------------------------------*/
.fa.fa-square-o {
    box-shadow: inset 0px 0px 6px 1px rgb(209, 68, 81);
    height: 19px;
    border-radius: 4px;
    color: transparent;
    border: 1px solid rgb(209, 68, 81);
}
.link-snow.active,
.link-shadow.active,
.link-water.active{
    background-color: #eee;
    background: #eee;
}
.smudge-effect img.smudge{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent !important;
    background: transparent !important;
}
.display{
    opacity: 1 !important;
}

/*end effect-smudge
---------------------------------------------------------------------------------------------------------------------*/



/*share-modal
---------------------------------------------------------------------------------------------------------------------*/

.share-modal .vegazine-btn.email,
.share-modal .vegazine-btn.weChat,
.share-modal .vegazine-btn.sina,
.share-modal .vegazine-btn.fb{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -p-border-radius: 40px;
    height: 70px;
}
.share-modal .vegazine-btn.email:hover,
.share-modal .vegazine-btn.weChat:hover,
.share-modal .vegazine-btn.sina:hover,
.share-modal .vegazine-btn.fb:hover{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -p-border-radius: 10px;
    height: 70px;
}
.share-modal .vegazine-btn.email:active,
.share-modal .vegazine-btn.weChat:active,
.share-modal .vegazine-btn.sina:active,
.share-modal .vegazine-btn.fb:active{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -p-border-radius: 40px;
}
.share-modal .vegazine-btn.email{
    background: #878787 !important;
    background-color: #878787 !important;
}
.share-modal .vegazine-btn.email:hover{
    background: #00A7EC !important;
    background-color: #00A7EC !important;
}

.share-modal .vegazine-btn.weChat{
    background: #878787 !important;
    background-color: #878787 !important;
}
.share-modal .vegazine-btn.weChat:hover{
    background: #78AB34 !important;
    background-color: #78AB34 !important;
}

.share-modal .vegazine-btn.sina{
    background: #878787 !important;
    background-color: #878787 !important;
}
.share-modal .vegazine-btn.sina:hover{
    background: #E8172D !important;
    background-color: #E8172D !important;
}

.share-modal .vegazine-btn.fb{
    background: #878787 !important;
    background-color: #878787 !important;
}
.share-modal .vegazine-btn.fb:hover{
    background: #3B579D !important;
    background-color: #3B579D !important;
}

.share-modal .modal-footer button{
    font-size: 20px;
}
.share-modal .modal-footer .close-btn{
    font-size: 14px;
    padding: 10px 15px;
}
.share-modal .close-row{
    margin-top: 20px;
}
.share-modal .close-row .close-btn{
    width: 306px;
}
button:focus {outline:0 !important;}

/*end share-modal
---------------------------------------------------------------------------------------------------------------------*/


.effects-nav ul > li > a{
    color: rgb(209, 68, 81);
    font-size: 21px;
}
.effects-nav ul > li > a:focus,
.effects-nav ul > li > a:active{
    opacity: 0.6;
    color: rgb(209, 68, 81) !important;
}
.effects-nav{
    position: absolute;
    left: -52px;
    top: -1px;
}
.effects-nav ul > li{
    float: none;
}
.images-overview-edit-lanscape-wrp .effects-nav{
    left: -51px\0/;
}
/*end body
---------------------------------------------------------------------------------------------------------------------*/

/*applied-modal
---------------------------------------------------------------------------------------------------------------------*/
.applied-modal .centered-wrp{
    width: 100%;
}
.modal-dialog.home-modal {
    height: 100%;
}
.modal-backdrop.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.modal-backdrop {
    background-color: #10263F;
}
.vegazine-btn{
    background-color: #D14451 !important;
    background: #D14451!important;
    border-radius: 0 0 0;
    border: 0;
    box-shadow: inset 0 0 0;
    color: #fff;
    min-width: 70px;
}
.vegazine-btn:focus{
    background-color: #D14451 !important;
    background: #D14451!important;
}
.vegazine-btn:active,
.vegazine-btn:hover{
    background-color: rgba(138, 38, 46, 1)!important;
    background: rgba(138, 38, 46, 1)!important;
    color: #fff;
}
.add-from-camera-modal.share-modal .modal-footer button{
    font-size: 14px;
}
.add-from-camera-modal.share-modal .modal-footer button.snapshot-btn{
    background-color: #4493D1 !important;
    background: #4493D1 !important;
}
.add-from-camera-modal.share-modal .modal-footer button.snapshot-btn:hover{
    background-color: #4277b3 !important;
    background: #4277b3 !important;
}
.add-from-camera-modal.share-modal .modal-footer button.snapshot-btn:active{
    background-color: #3f6aa3 !important;
    background: #3f6aa3 !important;
    color: #fff!important;
}
.add-from-camera-modal.share-modal .modal-footer button.save-btn{
    background-color: #359B60  !important;
    background: #359B60 !important;
}
.add-from-camera-modal.share-modal .modal-footer button.save-btn:hover{
    background-color: #2f8651 !important;
    background: #2f8651 !important;
}
.add-from-camera-modal.share-modal .modal-footer button.save-btn:active{
    background-color: #2d703d !important;
    background: #2d703d !important;
    color: #fff!important;
}
.add-from-camera-modal.share-modal .close-row {
    margin-top: 0px;
}
.add-from-camera-modal .modal-body{
    padding-right: 0 !important;
    padding-left: 0!important;
    padding-bottom: 0 !important;
    display: inline-block;
    width: 100%;
}
.add-from-camera-modal .modal-footer {
    margin-top: 5px;

}
.videocam-wrp-result{
    position: relative;
    max-height: 300px;
    overflow: hidden;
    padding-right: 0;
}
.videocam-wrp-result img{
    width: 100%;
}
.videocam-wrp{
    height: 300px;
    background: black;

}
.next-btn-wrp{
    position: fixed;
    bottom: 0;
    border-bottom: 3px solid rgb(209, 68, 81);
    width: 100%;
}
.applied-modal{
    font-weight: 400;
    color: #fff;
}
.applied-modal .modal-footer{
    text-align: center;
}
button:focus,
button:active{
    outline: none;
}
.applied-modal .modal-dialog.home-modal{
    margin-top: 0;
    margin-bottom: 0;
}
.applied-modal .modal-footer{
    padding: 25px;
}
.applied-modal .modal-body{
    padding: 10px;
    font-size: 16px;
}
.modal {
    overflow-y: auto;
}
/*END applied-modal
--------------------------------------------------------------------------------------------------------------------*/

/*PRELOADER
-------------------------------------------------------------------------------------------------------------------*/
.preloader-wrp img{
    background-color: transparent;
    background: transparent;
    width: 80px;
}
.preloader-wrp{
    background-color: rgba(16, 38, 63, 0.9);
    background: rgba(16, 38, 63, 0.9);
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;

}
body.preload{
    overflow: hidden;
}



/*end PRELOADER
-------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1323px) {
    nav.navbar.navbar-default.navbar-fixed-top.adding-images-navbar .container{
        margin-left: 53px;
        max-width: 1200px;
        width: 100%;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 53px;
    }
}

@media (max-width: 767px) {
    /*CLEAR BOOTSTRAP RESPONSIVE STYLES*/
    .navbar-nav {
        margin: 0;
    }
    .nav:after {
        clear: none;
    }
    .nav > li {
        float: left;
    }
    .navbar-collapse{
        border: 0;
    }
    .navbar-right {
        float: right !important;
    }
    /*END CLEAR BOOTSTRAP RESPONSIVE STYLES*/
}




/*Firefox Only
--------------------------------------------------------------------------------------------------------------------*/


@-moz-document url-prefix() {
    .mode-select-wrp input[type="radio"]{
        width: 0;
        margin-left: -18px;
        opacity: 0;
    }
    a:active,
    a:focus{
        outline: none;
    }
    .adding-images-navbar-nav .fa{
        font-size: 21px;
    }
    .adding-images-navbar-nav .back .fa{
        font-size: 35px;
    }
    .nav-toggle-btn {
        padding: 3px 15px 5px;

    }
    .effects-nav{
        left: -51px;

    }
    .music-style-select span{
        padding-top: 5px;
        padding-left: 15px;

    }
    .nav-toggle-btn i.fa.fa-minus:first-child{
        top: 9px;
    }

    .nav-toggle-btn.active i.fa.fa-minus.plus{
        right: 13px !important;

    }
    .adding-images-navbar .nav > li > a,
    .nav-toggle-btn{
        height: 53px;
    }


}


/*END Firefox Only
--------------------------------------------------------------------------------------------------------------------*/

/*IE Only
--------------------------------------------------------------------------------------------------------------------*/
.mode-select-wrp input[type="radio"]{
    width: 0;
    margin-left: 0px\0/;
    opacity: 0;
    display: none\0/;
}
.on-off-tooltip{
    opacity: 0\0/;
}
.browse-img{
    opacity: 0\0/;
}
.adding-images-navbar-nav > li > a{
    min-width: 20px\0/;
}
.adding-images-navbar-nav .fa{
    font-size: 21px\0/;
}
.adding-images-navbar-nav .back .fa{
    font-size: 35px\0/;
}
a:active,
a:focus{
    outline: none\0/;
}
i:active,
a:active{
    opacity: 0.8;
}
.nav-toggle-btn {
    padding: 3px 15px 5px\0/;

}
.share-modal .vegazine-btn.email:hover,
.share-modal .vegazine-btn.weChat:hover,
.share-modal .vegazine-btn.sina:hover,
.share-modal .vegazine-btn.fb:hover{
    border-radius: 40px\0/;
    -webkit-border-radius: 40px\0/;
    -moz-border-radius: 40px\0/;
    -ms-border-radius: 40px\0/;
    -p-border-radius: 40px\0/;
    height: 70px;
}
.select-rotation-wrp img{
    background: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
/*end IE Only
--------------------------------------------------------------------------------------------------------------------*/


/*Safari only
--------------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width:0\0) {
    body:first-of-type .mode-select-wrp input[type="radio"] {
        margin-left: -4px;
    }


    body:first-of-type .share-modal .vegazine-btn.email,
    body:first-of-type .share-modal .vegazine-btn.weChat,
    body:first-of-type .share-modal .vegazine-btn.sina,
    body:first-of-type .share-modal .vegazine-btn.fb{

        -webkit-border-radius: 35px;

        height: 70px;
    }
    body:first-of-type .share-modal .vegazine-btn.email:hover,
    body:first-of-type .share-modal .vegazine-btn.weChat:hover,
    body:first-of-type .share-modal .vegazine-btn.sina:hover,
    body:first-of-type .share-modal .vegazine-btn.fb:hover{

        -webkit-border-radius: 10px;

        height: 70px;
    }
    body:first-of-type .share-modal .vegazine-btn.email:active,
    body:first-of-type .share-modal .vegazine-btn.weChat:active,
    body:first-of-type .share-modal .vegazine-btn.sina:active,
    body:first-of-type .share-modal .vegazine-btn.fb:active{

        -webkit-border-radius: 40px;

    }
}

/*end Safari only
--------------------------------------------------------------------------------------------------------------------*/


.chosen-container.chosen-with-drop .chosen-drop {
    opacity: 1 !important;
    left: 0;

}
.chosen-container .chosen-drop {
    opacity: 0;
    left: 0;

}